In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('text.csv')

In [9]:
df

                     domain                                               text
0           en.hongdian.com  China(简体中文)\n日本語\nрусский язык\nEspañol\nHOME\...
1               hotmart.com  \nHotmart — Learn what you want, teach what yo...
2    philippineairlines.com  \nPhilippine Airlines\n\n\n\n\n\n\n\n\n\n\n\n\...
3                hotels.com  Bot or Not?Show us your human side...We can't ...
4           leverageedu.com  Leverage Edu - Your Trusted Study Abroad Exper...
..                      ...                                                ...
491           tmtambayan.ph  TM Tambayan - Call, Text, and Surf Promos     ...
492             sunwoda.com  欣旺达-欣旺达电子股份有限公司                               ...
493               hyatt.com  酒店预订 | 在线预订酒店客房 - 凯悦酒店及度假村                    ...
494      monitormyocean.com  MonitorMyOcean     Monitor My OceanThe Acousti...
495            nt-mevid.com  南通美韦德生命科学有限公司                       English | ...

[496 rows x 2 columns]

In [13]:
import unicodedata
import re
import collections

def remove_lines(text):
    text = text.translate(text.maketrans("\n\t\r", "   "))
    text = re.sub(' +', '  ', text)
    return text

In [15]:
from tqdm import tqdm

for i in tqdm(range(len(df))):
    if df.loc[i, 'text'] == df.loc[i, 'text']:
        df.loc[i, 'text'] = remove_lines(df.loc[i, 'text'])

100%|██████████| 496/496 [00:00<00:00, 1435.85it/s]

In [16]:
df

                     domain                                               text
0           en.hongdian.com  China(简体中文)  日本語  русский  язык  Español  HOME...
1               hotmart.com    Hotmart  —  Learn  what  you  want,  teach  ...
2    philippineairlines.com    Philippine  Airlines  Book  Explore  Manage ...
3                hotels.com  Bot  or  Not?Show  us  your  human  side...We ...
4           leverageedu.com  Leverage  Edu  -  Your  Trusted  Study  Abroad...
..                      ...                                                ...
491           tmtambayan.ph  TM  Tambayan  -  Call,  Text,  and  Surf  Prom...
492             sunwoda.com  欣旺达-欣旺达电子股份有限公司  Toggle  navigation  股票名称:  欣旺...
493               hyatt.com  酒店预订  |  在线预订酒店客房  -  凯悦酒店及度假村  略过主导航EnglishDe...
494      monitormyocean.com  MonitorMyOcean  Monitor  My  OceanThe  Acousti...
495            nt-mevid.com  南通美韦德生命科学有限公司  English  |  中文  网站首页  关于我们  公司简...

[496 rows x 2 columns]

In [17]:
df = df.reindex(columns=df.columns.to_list() + ['category'])

In [18]:
df

,domain,text,category
0,en.hongdian.com,China(简体中文) 日本語 русский язык Español HOME...,NaN
1,hotmart.com,"Hotmart — Learn what you want, teach ...",NaN
2,philippineairlines.com,Philippine Airlines Book Explore Manage ...,NaN
3,hotels.com,Bot or Not?Show us your human side...We ...,NaN
4,leverageedu.com,Leverage Edu - Your Trusted Study Abroad...,NaN
...,...,...,...
491,tmtambayan.ph,"TM Tambayan - Call, Text, and Surf Prom...",NaN
492,sunwoda.com,欣旺达-欣旺达电子股份有限公司 Toggle navigation 股票名称: 欣旺...,NaN
493,hyatt.com,酒店预订 | 在线预订酒店客房 - 凯悦酒店及度假村 略过主导航EnglishDe...,NaN
494,monitormyocean.com,MonitorMyOcean Monitor My OceanThe Acousti...,NaN
495,nt-mevid.com,南通美韦德生命科学有限公司 English | 中文 网站首页 关于我们 公司简...,NaN

In [19]:
df.to_csv('text.csv', index = False)

In [2]:
df = pd.read_csv('domain_with_category.csv')

In [3]:
df

,domain,text,category,results
0,en.hongdian.com,China(简体中文) 日本語 русский язык Español HOME...,NaN,"categories {\n name: ""/Computers & Electronic..."
1,hotmart.com,"Hotmart — Learn what you want, teach ...",NaN,"categories {\n name: ""/Business & Industrial/..."
2,philippineairlines.com,Philippine Airlines Book Explore Manage ...,NaN,"categories {\n name: ""/Travel & Transportatio..."
3,hotels.com,Bot or Not?Show us your human side...We ...,NaN,"categories {\n name: ""/Arts & Entertainment/F..."
4,leverageedu.com,Leverage Edu - Your Trusted Study Abroad...,NaN,"categories {\n name: ""/Jobs & Education/Educa..."
...,...,...,...,...
491,tmtambayan.ph,"TM Tambayan - Call, Text, and Surf Prom...",NaN,"categories {\n name: ""/Internet & Telecom/Ser..."
492,sunwoda.com,欣旺达-欣旺达电子股份有限公司 Toggle navigation 股票名称: 欣旺...,NaN,"categories {\n name: ""/News/Business News/Com..."
493,hyatt.com,酒店预订 | 在线预订酒店客房 - 凯悦酒店及度假村 略过主导航EnglishDe...,NaN,"categories {\n name: ""/Travel & Transportatio..."
494,monitormyocean.com,MonitorMyOcean Monitor My OceanThe Acousti...,NaN,"categories {\n name: ""/Science/Earth Sciences..."
495,nt-mevid.com,南通美韦德生命科学有限公司 English | 中文 网站首页 关于我们 公司简...,NaN,"categories {\n name: ""/Science/Scientific Equ..."

In [5]:
print(type(df.loc[0, 'results']))

<class 'str'>

In [10]:
print(df.loc[0, 'results'])

categories {
  name: "/Computers & Electronics/Networking/Networking Equipment"
  confidence: 0.676442146
}
categories {
  name: "/Computers & Electronics/Enterprise Technology/Other"
  confidence: 0.204386383
}
categories {
  name: "/Internet & Telecom/Mobile & Wireless/Other"
  confidence: 0.198340923
}
categories {
  name: "/Computers & Electronics/Networking/Other"
  confidence: 0.133739874
}
categories {
  name: "/Internet & Telecom/Communications Equipment/Other"
  confidence: 0.127469331
}
categories {
  name: "/Computers & Electronics/Computer Hardware/Other"
  confidence: 0.123873025
}
categories {
  name: "/Computers & Electronics/Consumer Electronics/Other"
  confidence: 0.105189368
}

In [16]:
from tqdm import tqdm
import re

for i in tqdm(range(len(df))):
    if df.loc[i, 'results'] == df.loc[i, 'results']:
        start_index = df.loc[i, 'results'].index("name:") + 8
        end_index = df.loc[i, 'results'].index("\n", start_index) - 1
        category = df.loc[i, 'results'][start_index:end_index].strip()
        # print(category)
        df.loc[i, 'category'] = category

100%|██████████| 496/496 [00:00<00:00, 13020.25it/s]

In [17]:
df

,domain,text,category,results
0,en.hongdian.com,China(简体中文) 日本語 русский язык Español HOME...,Computers & Electronics/Networking/Networking ...,"categories {\n name: ""/Computers & Electronic..."
1,hotmart.com,"Hotmart — Learn what you want, teach ...",Business & Industrial/Business Services/E-Comm...,"categories {\n name: ""/Business & Industrial/..."
2,philippineairlines.com,Philippine Airlines Book Explore Manage ...,Travel & Transportation/Transportation/Air Travel,"categories {\n name: ""/Travel & Transportatio..."
3,hotels.com,Bot or Not?Show us your human side...We ...,Arts & Entertainment/Fun & Trivia/Fun Tests & ...,"categories {\n name: ""/Arts & Entertainment/F..."
4,leverageedu.com,Leverage Edu - Your Trusted Study Abroad...,Jobs & Education/Education/Study Abroad,"categories {\n name: ""/Jobs & Education/Educa..."
...,...,...,...,...
491,tmtambayan.ph,"TM Tambayan - Call, Text, and Surf Prom...",Internet & Telecom/Service Providers/Phone Ser...,"categories {\n name: ""/Internet & Telecom/Ser..."
492,sunwoda.com,欣旺达-欣旺达电子股份有限公司 Toggle navigation 股票名称: 欣旺...,News/Business News/Company News,"categories {\n name: ""/News/Business News/Com..."
493,hyatt.com,酒店预订 | 在线预订酒店客房 - 凯悦酒店及度假村 略过主导航EnglishDe...,Travel & Transportation/Hotels & Accommodation...,"categories {\n name: ""/Travel & Transportatio..."
494,monitormyocean.com,MonitorMyOcean Monitor My OceanThe Acousti...,Science/Earth Sciences/Other,"categories {\n name: ""/Science/Earth Sciences..."
495,nt-mevid.com,南通美韦德生命科学有限公司 English | 中文 网站首页 关于我们 公司简...,Science/Scientific Equipment,"categories {\n name: ""/Science/Scientific Equ..."

In [20]:
df.loc[4, 'category']

'Jobs & Education/Education/Study Abroad'

In [21]:
df[df['category'].isna()]

,domain,text,category,results
83,dysterra.kakaogames.com,DYSTERRA,NaN,NaN
86,alihunter.io,Ali Hunter // Google Tag Manager (noscri...,NaN,NaN
317,vultr.com,Vultr.com Please complete the security ...,NaN,NaN
323,oxywise.com,Home Page | Oxywise About cookies on ...,NaN,NaN
373,starplus.com,Star+ Star+ is not available in your ...,NaN,NaN
377,telkom.co.ke/t-kash/,T-kash – Telkom,NaN,NaN
439,drogaraia.com.br,Access Denied Access Denied You don't ...,NaN,NaN
442,discoveryplus.com,discovery+,NaN,NaN
488,zredo.com,NaN,NaN,NaN

In [22]:
df.to_csv('domain_with_category.csv', index = False)